@import url(https://fonts.googleapis.com/css2?family=Satisfy);
@import url(https://fonts.googleapis.com/css2?family=Roboto);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
.header{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 30px;
    background-color: #015679;
    overflow: hidden;
    height: 70px;
}
.menu{
    color: white;
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    font-family: "Poppins", sans-serif;
}
.menu:link {
    text-decoration: none;
    color: white;
  }
  
  .menu:visited {
    text-decoration: none;
    color: white;
  }
  
  .menu:hover {
    text-decoration: underline;
    color:#c0c0c0
  }
  
  .menu:active {
    text-decoration: underline;
  }
.logo{
    color: white;
    font-size : 50px;
    font-family: Satisfy;
    
}  
.header-right {
    float: right;
    display: flex;
    padding: 20px;
    
}
.btn{
    font-size : 18px;
    background-color: white;
    color : #113F67;
    margin-left: 20px;
    font-family: "Poppins", sans-serif;
    width : 170px;
    height: 40px;
    border-radius: 5px;
  
}
.v1 {
    border-left: 3px solid white;  
    height: 45px;    
  }
