@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
/*--------------------------------------Allblog------------------------------------------*/

.container-blogtop{
    height: 400px;
    width: 1100px;  
    margin-bottom: 45px;
    margin-left: 50px; 
    margin-top: 20px;
    margin-right: 20px; 
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding-bottom: 5px;
    transition: box-shadow .3s;

    

}
.container-blogtop:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.container-topic{
    height: 40px;
    padding-left: 20px;
    padding-top: 10px;
}
hr{
    border-top: 2px solid #DBDBDB;
    width: 1050px;
}
.container-blog{
    display: flex;
    text-indent: 50px;
    color: #435a6b;
    padding-right: 20px;
    
    
}
.container-pic{
    height: 300px;
    width: 50%;
    padding: 20px;
    
}

.pic{
    height: 300px;
    margin-top: auto;
    margin-bottom: auto;
    display :block; 
    object-fit: cover;
    border-radius: 20px;
    width: 450px;




    
}

.topic{
    font-size: 30px;
    padding-right: 15px;
} 

.des{
    max-height: 260px ;
    overflow: hidden;
    text-align: justify;
    text-justify: inter-word;
    font-family: "Poppins", sans-serif;
    color: darkgray;
}
.header-blog{
    padding-left:70px;
    padding-top:50px;
    font-size: 50px;
    font-family: "Poppins", sans-serif;
}
.see-more{
    text-align: right;
    font-size: 17px;
    font-family: "Poppins", sans-serif;

}

.see-more:link {
    text-decoration: none;
    color: darkgray;
  }
  
.see-more:visited {
    text-decoration: none;
    color: darkgray;
  }
  
  .see-more:hover {
    text-decoration: underline;
    color:#00587A
  }
  
  .see-more:active {
    text-decoration: underline;
  }
/*--------------------------------------Singleblog------------------------------------------*/
.container-sblog{

    padding-top: 50px;
    width: 1100px;
    margin-left: 50px;
    /* font-family: "Poppins", sans-serif; */
}
.container-spic{
    margin:  auto;
    align-items: center;
    height: 350px;
}
.container-stopic{
    margin: auto;

    width: 1100px;
    height: 50px;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 5px;
 
    
}
.container-s-date{
    margin:  auto;
    background-color: #F0F0F0;
    width: 1100px;
    height: 30px;
    display: flex;
    
}
.container-date{
    margin: auto 0px;
    background-color: #C4C4C4;
    width: 100px;
    height: 25px;
    text-align: center; 
    font-size: 15px; 
    padding-top: 5px;
    font-family: "Poppins", sans-serif;
}
.container-username{
    font-size: 15px;
    height: 25px;
    padding-left: 10px;
    padding-top: 5px;
    font-family: "Poppins", sans-serif;
}
.spic{
    margin:  auto;
    height: 350px;
    padding:  auto;
    display :block;
    border-radius: 20px;
}
.sdes{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-indent: 50px;
    font-family: "Poppins", sans-serif;
}
.allblog{ 
    display:flex
}
.padding-pop{
    padding-top: 125.7px;
    padding-left: 20px;
    
}
.popular{

    width: 250px;
    margin-left: 10px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}
.popular-topic{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin: 15px;
    padding-top: 5px;
    background-color: #015679;
    border-radius: 10px;
    height: 40px;
    color : white
}
.popular-topic:hover{
    box-shadow: 0 0 13px gray
}
.popular-link:link {
    text-decoration: none;
    color: white;
  }
  
  .popular-link:visited {
    text-decoration: none;
    color: white;
  }
  
  .popular-link:hover {
    text-decoration: none;
    color:#c0c0c0
  }
  
  .popular-link:active {
    text-decoration: underline;
  }