@media (max-width: 840px) {
    .side-bar-container {
        background-color: #276678;
        list-style-type: none;
        position: fixed;
        width: 60px;
        height: 100vh;
        border-right: 2px solid #dadada;
    }
    
    .side-bar-menu {
        transition: 1s;
        padding-top: 24px;
        padding-bottom: 24px;
        align-items: center;
    }
    
    .side-bar-menu:hover {
        transition: 0.4s;
        background-color: #428f8e;
        cursor: pointer;
    }
    
    .side-bar-menu a {
        justify-content: center;
        color: #ffffff;
        text-decoration: none;
        user-select: none;
        display: flex;
    }
    
    .side-bar-menu a div {
        display: none;
    }

    .side-bar-menu i {
        font-size: 16px;
    }
    
    .page {
        margin-left: 60px;
    }
}

@media (min-width: 840px) {
    .side-bar-container {
        background-color: #276678;
        list-style-type: none;
        position: fixed;
        width: 200px;
        height: 100vh;
        border-right: 2px solid #dadada;
    }
    
    .side-bar-menu {
        padding-top: 24px;
        padding-bottom: 24px;
        align-items: center;
    }
    
    .side-bar-menu:hover {
        transition: 0.4s;
        background-color: #428f8e;
        cursor: pointer;
    }
    
    .side-bar-menu a {
        color: #ffffff;
        text-decoration: none;
        user-select: none;
        display: flex;
        font-size: 20px;
        padding-left: 16px;
    }
    
    .side-bar-menu a div {
        font-size: 14px;
    }

    .side-bar-menu i {
        padding-right: 16px;
    }
    
    .page {
        margin-left: 200px;
    }
}


@media (min-width: 1340px) {
    .side-bar-container {
        background-color: #276678;
        list-style-type: none;
        position: fixed;
        width: 300px;
        height: 100vh;
        border-right: 2px solid #dadada;
    }

    .side-bar-menu {
        padding-top: 24px;
        padding-bottom: 24px;
        align-items: center;
    }
    
    .side-bar-menu:hover {
        transition: 0.4s;
        background-color: #428f8e;
        cursor: pointer;
    }
    
    .side-bar-text-containe {
        color: #ffffff;
        text-decoration: none;
        user-select: none;
        display: flex;
        font-size: 26px;
        padding-left: 24px;
    }
    
    .side-bar-menu a div {
        font-size: 20px;
    }

    .side-bar-menu i {
        padding-right: 20px;
    }
    
    .page {
        margin-left: 300px;
    }
}

.user-side-bar-selceted {
    background-color: #008891;
}